body {
	font-family: sans-serif;
	background: #00294D
}

.hide {
	visibility: hidden;
}

.alphabet {
    text-align: center;
}

span.letter {
    font-weight: bold;
    font-size: 3em;
    color: white;
}

span.letter {
	cursor: pointer;
}

span.letter.letter_called {
	color: gray;
}

span.letter.letter_called_none {
	color: red;
}
