body {
	font-family: sans-serif;
	background: #00294D
}

.hide {
	visibility: hidden;
}

.board {
  padding-top: 10px;
}

.cell {
  margin-bottom: 4px;
}

.cell .back {
 background-color: white;
}

/*Cell flip animation ----------------------------- */
/*Based on tutorial by David Walsh */

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip-container {
	width: 60px;
	height: 75px;
}

.flipper {
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/*Cell flip animation ----------------------------- */